{% extends "exams/header.html" %}

{% block content %}
	<form method="POST" action=" /evaluate/ ">{% csrf_token %}
		<h2>{{title}}</h2>
			<p>{{instruction}}</p>
			<p>{{formResponse}}</p>
			<p>{{formHidden}}</p>
			<p></p>
			<p></p>

			
			<input class= 'btn btn-primary' type="submit" value="Enter" >
				
			</input>
		<div class="col-xs-12 col-sm-12 col-md-12">
		</div>
	</form>


{% endblock %}

{% block footer%}
	{% if status == 'logged-in' %}
		<p><a href="/" target="">Logout</a> 
			{# | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p> #}
	{% else %}

	{% endif %}
{% endblock %}
